<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">See a fish? Ring the bell!</a></h2>
            <p>Welcome to the Fish Doorbell. Will you help fish pass the city boat lock?
                
                Every spring fish migrate upstream, in search of places to spawn. They swim through the centre of  the city of Utrecht. Unfortunatly, the boat lock is closed during spring. You can help the fish.
                
                Do you see a fish? Press the Doorbell!
                
                All the photos are collected. When there are enough fish waiting, the lock will be opened.</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Watch the live stream</a></h2>
            <p>At the bottom of the boat lock a camera is placed. Watch the live stream! And ring the bell when you see a fish. Please find more information on ‘About the fish doorbell’.

                No fish? Don’t worry! Watch the Fish Doorbell News Report and see the best fish videos of the week.</p>
        </article>
    </body>
</html>